/LanternBell/gen/
/LanternBell/bin/
/LanternBell/private/
/LanternBell/nbandroid/

/TripTracker/gen/
/TripTracker/bin/
/TripTracker/private/
/TripTracker/nbandroid/

/AndroidTest/gen/
/AndroidTest/bin/
/AndroidTest/private/
/AndroidTest/nbandroid/

